[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=krita_copilot
X-Python-2-Compatible=false
X-Krita-Manual=manual.html
Name=Krita Copilot
Comment=DALL-E 2 Krita Plugin